html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* 
seafoam: #91C7A1
light green: #AAD079
green: #C3D850
pastel yellow: #EEE766
forest green: #2C4C0E



 */


html {
    background: #AAD079;
    font-size: 125%;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
}


h1, 
h2,
p,
li,
label {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
form {
    text-align: center;
    color: #2C4C0E;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 4.5rem;
}

.headerContainer {
    /* background: #95BA67; */
    padding: 50px;
    margin-top: 40px;
}

h2 {
    padding: 20px;
    font-size: 1rem;
    /* border-bottom: solid 2px #2C4C0E;
    width: 40%;
    margin: 0 auto 30px; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #2C4C0E;
    padding: 30px;
    width: 60%;
    margin: 0 auto;
}

input:focus {
    outline: 2px solid #2C4C0E;
}

button {
    width: 50%;
    margin: 20px 0;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    background: #2C4C0E;
    color: #fff;
    border: none;

}

button:hover {
    background: #fff;
    color: #2C4C0E;
}

label {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.recipesList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #2C4C0E;
}

.recipesList li {
    margin: 15px;
    width: calc( 33% - 30px );
}
/* need to figure out a way to make the h3 stay on one line when screen size shrinks */


@media(max-width: 1000px) {
    .recipesList li {
        width: calc( 50% - 30px );
    }
}

@media(max-width: 600px) {
    .recipesList li {
        width: 100%;
    }
}